* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
    min-width: 600px;
    min-height: 100vh;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

nav {
    max-width: 100%;
    min-height: 6em;
    background-color: #333;
}

nav h1 {
    float: left;
    text-align: center;
    padding-top: 1.5rem;
    margin-left: 15%;
    height: 100%;
    color: #f4f4f4;
}

nav ul {
    float: right;
    list-style: none;
    min-width: 20%;
    margin-right: 15%;
    padding: 1rem 0;
    height: 100%;
}

nav li {
    float: left;
    margin-top: 1rem;
    height: 5%;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem 1.5rem;
    height: 100%;
    width: 100%;
    color: #f4f4f4;
}

nav a:hover {
    color: #f7c08a;
    background-color: rgb(74, 72, 72);
}

main {
    max-width: 100%;
    max-height: auto;
    background-color: #f4f4f4;
}

.form-heading {
    width: 100%;
    padding: 1rem 15%;
}

.form-heading h2 {
    color: #f7c08a;
    margin-bottom: 1rem;
}

form {
    width: 100%;
    max-height: 300vh;
    padding: 1rem 15%;
}

form input {
    width: 100%;
    padding: 5px;
    margin: .5rem 0 1rem 0;
    background-color: #f4f4f4;
    border: 1px solid grey;
}

form input:hover, form input:focus, #message:hover, #message:focus {
    transform: scale(1.02);
}

form button{
    background-color: #333;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #f4f4f4;
}

form button:hover {
    background-color: rgb(74, 72, 72);
    color: #f7c08a;
}

#message {
    width: 100%;
    padding: .5rem 1rem;
    margin: .5rem 0 1rem 0;
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    float: bottom;
    height: clamp(8em, 15em, 60em);
    max-width: 100%;
}

.footer-section {
    min-width: min(50%, 100%);
    padding: 1rem 1rem 1rem clamp(10%, 22%, 26%);
}

footer p {
    text-align: center;
    float: left;
    width: 10rem;
    height: 100%;
    padding: 1rem 2rem 0 0;
    margin-right: clamp(5%, 15%, 18%);
    color: #f4f4f4;
}

footer p a {
    text-decoration: none;
    font-weight: bold;
    color: #f4f4f4;
    line-height: 2;
}

footer p a:hover {
    color: #f7c08a;
}

.sm-size {
    font-size: .8em;
    color: #f4f4f4;
}

